{% extends "index.html" %}

{% block content %}
    <div class="container mt-5">
        <h1>Your Wishlist</h1>

            <div class="list-group">
                {% for x in wishlist %}
                    <div class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ x.book.title }}</h5>
                            <small>Rs{{ x.book.price }}</small><br>
                            <small>{{x.quantity}}</small>
                        </div>
                        <p class="mb-1">{{ x.book.author }} - {{ x.book.genre }}</p>

                        <form method="POST" action="{% url 'cart' %}">
                            {% csrf_token %}
                            <input type="hidden" name="title" value="{{ x.book.title }}">
                            <input type="hidden" name="author" value="{{ x.book.author }}">
                            <button type="submit" class="btn btn-primary btn-sm">Add to Cart</button>
                        </form>
                        
                        <form style="float: right;" method="POST" action="{% url 'wishlist' %}">
                            {% csrf_token %}
                            <input type="hidden" name="title" value="{{ x.book.title }}">
                            <input type="hidden" name="author" value="{{ x.book.author }}">
                            <button class="btn btn-primary" type="submit" style="background-color: #28a745;">
                                <i class="fas fa-heart"></i>
                            </button>
                        </form>

                    </div> 
                {% endfor %}
            </div>
    </div>
{% endblock %}
