<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>title</th>
                    <th>author</th>
                    <th>category</th>
                    <th>date</th>
                </tr>
            </thead>
            
            <tbody>
                
                    {% for x in books %}
                        <tr>
                            <td>{{x.title}}</td>
                            <td>{{x.author.name}}</td>
                            <td>
                                {% for y in x.category.all %}
                                    {{y.name}},
                                {% endfor %}
                            </td>
                            <td>{{x.published_date}}</td>
                        </tr>
                    {% endfor %}
    
            </tbody>
    
        </table>
    </div>
</body>
</html>